<nav class="navbar navbar-expand-sm bg-success navbar-dark fixed-top">
    <ul class="navbar-nav">
        <li  class="nav-item">
            <a  routerLink="get-all-task" routerLinkActive="active" class="nav-link"> show all Tasks</a>
        </li>
        <li  class="nav-item">
            <a  routerLink="add-task" routerLinkActive="active" class="nav-link"> add new Task</a>
        </li>
    </ul>
</nav>

<div style="margin-top: 70px;">
<h2 class="text-center">{{title}}</h2>
<h4 class="text-center">Date : {{currentDate | date:'d MMM y'}}</h4>
</div>

<div class="container" style="margin-bottom: 50px;">
    <router-outlet></router-outlet>
    <!-- <app-add-task></app-add-task> -->
</div>
<footer class="footer">
    <div class="container">
        <span>This is a STL demo project &copy;Soumyajit Ghosh</span>
    </div>
</footer>
